# Prediction on iris dataset by Vikrant

## importing all necessary libraries

In [1]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import LabelEncoder

## Checking the data

In [2]:
df = pd.read_csv('iris.csv')

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 6.5+ KB

## Checking if any null value in dataset

In [5]:
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

## Droping un-necessary column from dataset

In [6]:
df1=df.drop(['Id'], axis=1 )

In [7]:
df1.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

## Checking the categories in species column

In [8]:
df1.Species.value_counts()

Iris-setosa        50
Iris-virginica     50
Iris-versicolor    50
Name: Species, dtype: int64

## Encoding the categorical column

In [9]:
le= LabelEncoder()

In [10]:
df1['Species']=le.fit_transform(df1['Species'])

In [11]:
df1.Species.value_counts()

2    50
1    50
0    50
Name: Species, dtype: int64

In [12]:
Y=df1['Species']
X= df1.drop(['Species'] , axis=1)

# first checking the accuracy of model

In [13]:
from sklearn.linear_model import LogisticRegression
lg = LogisticRegression()

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train , X_test , Y_train , Y_test = train_test_split(X ,Y , test_size=0.30)

In [16]:
test=lg.fit(X_train , Y_train)

c:\python38\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [17]:
test1=lg.predict(X_test)

In [18]:
from sklearn.metrics import accuracy_score

In [19]:
log=accuracy_score(Y_test ,test1)

In [20]:
print('The model is ',log,' percent accurate')

The model is  0.9777777777777777  percent accurate

# Now deploy model and Testing by user input

In [21]:
model=lg.fit(X,Y)

In [22]:
df1.tail()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
145            6.7           3.0            5.2           2.3        2
146            6.3           2.5            5.0           1.9        2
147            6.5           3.0            5.2           2.0        2
148            6.2           3.4            5.4           2.3        2
149            5.9           3.0            5.1           1.8        2

## User input

In [23]:
print('***Enter Details for Predict the Species***')

***Enter Details for Predict the Species***

In [38]:
sepal_length=float(input('Enter the size in cm '))

Enter the size in cm 4

In [39]:
sepal_width= float(input('Enter the size in cm '))

Enter the size in cm 3

In [40]:
petal_length=float(input('Enter the size in cm '))

Enter the size in cm 5

In [41]:
petal_width = float(input('Enter the size in cm '))

Enter the size in cm 2

In [42]:
x_test=[[sepal_length , sepal_width , petal_length , petal_width],]
y_pred= model.predict(x_test)

In [43]:
y_pred

array([2])

In [44]:
y=int(y_pred.round())

In [45]:
ref={0:'Setosa',1:'versicolor', 2:'virginica'}
print('The Species is ',ref[y])

The Species is  virginica